*{
    margin: 0px;
    padding: 0px;
    font-family: impact;
    letter-spacing: 1.3px;
    text-decoration: none;
    box-sizing: border-box;


}


.pagefull{
    margin: 0px;
    background-color: white;
} 


.toppage{
    background-color: #f9dc05;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.iconos{
    margin: 5px;
  height: 11px;
}


.contac{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    
}

.fijo{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    
}


.logo{
    height: 50px;
    padding: 5px;
}



.inputs-container{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.titulo-filtrar{
    color: #f9dc05;
    font-family: Arial, Helvetica, sans-serif;
}




.top2{
    
    width: 100%;
    display: flex;
    text-align: center;
    align-items:center;
   
    z-index: 999;
    justify-content: center
}




.buscar{
    
    background-color: #f9dc05;
    border: none;
    border-radius: 10px 10px 10px 10px;
    height: 20px;
    width: 50%;
    padding-left: 5px;
    outline: none;
    margin: 3px;
    text-align: center
}
.buscar::placeholder{
    color: black;
    font-family: sans-serif;
    font-size: 10px;

}


.productoall{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.producto{
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.producto:hover{
    transition: all ease-in-out .4s;
    border: 1px solid black;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
}





.boton-agregar{
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 5%;
    border-radius: 10%;
    background-color: black;
    color: #f9dc05;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: .9;
     cursor: pointer;
}

.boton-agregar:hover{
    transition: all ease-in-out .25s;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.561);
}

.info{
    margin-left: 5px;
    font-size: 12px;
    font-family: sans-serif;
}

.imagen{
    border-radius: 5%;
    width: 100%;
    
}

.imagen:hover{
    transition: all ease-in-out .6s;
    transform: scale(1.09);
    border-radius: 15%;
}

.precioProducto{
   margin-top: 10px;
    
}



#contenedor-aros{
    margin: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;    
}

#contenedor-llantas{
    margin: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;    
}


header label{
    display: none;
 
    width: 30px;
    height: 15x;
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

header label:hover{
    cursor: pointer;
    opacity: .9;

}
